{% load bootstrap3 %}
{% load static %}
{% load sekizai_tags %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{{ site.title }}{% endblock %}</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  {% block css %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  {% endblock %}
  {# Ugly sekizai_tags needed in root document #}
  {% render_block "css" %}
</head>

<body>
  {% block body %}
    {% include "parts/navigation.html" %}

    <main class="container with-navigation">
      {% block page %}
        <head>
          <div class="page-header">
            {% block page_header %}
            {% endblock %}
          </div>
        </head>
        <div>
          {% block page_content %}
          {% endblock %}
        </div>
      {% endblock %}
    </main>
  {% endblock %}
  {% block js %}
    {% bootstrap_javascript jquery=1 %}
  {% endblock %}
  {# Ugly sekizai_tags needed in root document #}
  {% render_block "js" %}
</body>
</html>
