{% extends "base.html" %}

{% block page_header %}
  <div class="btn-toolbar pull-right">
    <a href="{% url 'wiki:create' %}" class="btn btn-primary">
      Create
    </a>
  </div>
  <h1>Articles</h1>
{% endblock %}

{% block page_content %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tags</th>
        <th>Domain</th>
        <th>Last Modified</th>
      </tr>
    </thead>
    <tbody>
      {% for holder in holders %}
        <tr
          onclick="location.href='{% url 'wiki:get' article_id=holder.article.pk %}'"
        >
          <td>{{ holder.article.current_revision.title }}</td>
          <td>
            {% for tag in holder.tags.all %}
              <span class="label label-primary">{{ tag.name }}</span>
            {% endfor %}
          </td>
          <td>{{ holder.domain.name }}</td>
          <td>{{ holder.article.current_revision.modified }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

